<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted" style="color:white">We get back to our families within 24 hours.</h3>
                
                <h3 class="section-heading" style="text-align:left">Email</h3>
                <p style="text-align:left;font-size:18px;color:white"><a href="mailto:contact@transformtutoring.org">contact@transformtutoring.org</a></p>

                <h3 class="section-heading" style="text-align:left">Call or Text</h3>
                <p style="text-align:left;font-size:18px;color:white"><a href="tel:408-469-4934">(408)-469-4934</a></p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</section>
