<!-- Services Section -->
<section id="sectionabout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted" style="font-size:18px;">Top university tutors teaching & mentoring your child.</h3>
                    <p style="text-align:left;font-size:18px;">
                                We are a team of <b>Stanford, Yale, and Johns Hopkins alumni</b> who care deeply about our students and their academic performance. 

                                <br>
                                <br>

                                Most all of our tutors have placed in the <b>99th percentile in the SAT and/or ACT</b>, and are each highly credentialed in the subjects they teach. 

                                <br>
                                <br>
                                We specialize in:                             
                                <br>

                                <ul style="text-align:left;font-size:18px;">
                                <li><b>Academic Tutoring</b> - math, reading/writing, and computer science (high school & middle school levels)
                                </ul>

                                <ul style="text-align:left;font-size:18px;">
                                <li><b>College Testing Preparation</b> - SAT & ACT tutoring
                                </ul>

                                <ul style="text-align:left;font-size:18px;">    
                                <li><b>College Admissions</b> - Counseling and essay editing (7th - 12th grades) 
                                </ul>

                                <br><br>
                         
                    </p>
                <h1>What Makes Us Different?</h1><br><br>
                <br>
                    <div style="text-align:left;font-size:18px;">


                        <b style="text-align:left;font-size:21px;">We include college admissions counseling as a complimentary benefit with our academic & SAT tutoring.</b><br><br>
                        
                        As alumni of top universities, we know the admissions process is <b><i>difficult</b></i>. For example, each of the schools we graduated from accept less than 4%, 6%, and 12% of students respectively, each year. 
                        <br><br>
                        Students are more likely to succeed with a proper admissions strategy -- counseling which is provided to all of our students as a part of our tutoring package. 
                        <br><br>
                        Feel free to ask more about this, for more information.

                        <br><br><br><br><b style="text-align:left;font-size:21px;">Our tutors specialize in multiple subjects if needed.</b><br><br>
                        
                        Often, we find our students need help in multiple subjects -- for example, mathematics, chemistry, and SAT preparation.
                        <br><br>
                        At the same time, we’ve found parents hate juggling multiple tutors to manage the interdisciplinary needs of their kids.
                        <br><br>
                        For this reason, in the initial onboarding process, we ensure your child is matched with a tutor who can <b>expertly tutor your child in all of his or her necessary subjects</b>. Here are some real-life examples from our past clients:
                        

                        <br><br><br><br><b style="text-align:left;font-size:21px;">We provide the 1st session for free and your child can pick from multiple tutors with different styles of teaching.</b><br><br>

                        Tutor-student fit is incredibly important. For this reason, we provide families with a free sample lesson to see if the tutor-student match is a good fit.
<br><br>
                        If not, we’re more than happy to match your child with another one of our tutors, based on teaching style, personality, gender, etc., preferences. 
<br><br>
                        What matters most to us is that your student is <b>truly learning and en route to the college of their dreams</b>.


                        <br><br><br><br><b style="text-align:left;font-size:21px;">Our tutors are excellent at reaching students who are struggling in class.</b><br><br>

                        Students who are struggling in class now (for example, currently in a C or D grade range) often need a special type of tutoring, in which the teacher takes exquisite care to simplify advanced concepts into smaller, understandable ones.
                        <br><br>
                        Our tutors go through extensive, multi-hour trainings to achieve this level of teaching. For this reason, we’ve had phenomenal results with our students, particularly ones who’ve had a history of low grades or academic struggle. 

                        <br><br><br><br><b style="text-align:left;font-size:21px;">The results speak for themselves.</b><br><br>
                        Many of our families have stayed on as long-term clients as a result of our teaching methods. In fact, most all of our families either:

                                <ul style="text-align:left;font-size:18px;">
                                <li>Continue for multiple years
                                </ul>

                                <ul style="text-align:left;font-size:18px;">
                                <li>Add an extra subject or additional SAT/ACT or admissions preparation
                                </ul>

                                <ul style="text-align:left;font-size:18px;">    
                                <li>Sign up their child’s sibling as well
                                </ul>

                                <ul style="text-align:left;font-size:18px;">
                                <li>Refer us to friends & family
                                </ul>

                                <ul style="text-align:left;font-size:18px;">
                                <li>Offer phenomenal testimonials
                                </ul>
                            <br><br>
                        We’re more than happy to provide references from our past families :)
                    </div>

                <br><br><br><br>
                <h2 class="section-heading">Book 1st Free Trial Session</h2>
                <br><br>
                    <div style="text-align:left;font-size:18px;">
                            <span style="font-weight:normal">
                            Due to demand, we operate on a first-come, first-serve basis and occasionally have waitlists, depending on the time of year.
                        </span>
                        <br>
                        <br>
                        <br>
                        To check if we are accepting new students, reach us at <b><a href="mailto:contact@transformtutoring.org" style="color:black">contact@transformtutoring.org</a></b> or <b><a href="tel:408-469-4934" style="color:black">(408)-469-4934</a></b>.

                    </div>



            </div>
        </div>
    </div>
</section>
