<!-- Services Section -->
<section id="sectionabout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Top university tutors for your children.</h3>
                <p style="text-align:left">
                    We are a team of <b>Stanford, Yale, and Johns Hopkins alumni</b> who care deeply about our students and their academic performance. 

                    <br>
                    <br>

                    Most all of our tutors have placed in the <b>99th percentile in the SAT and/or ACT</b>, and are each highly credentialed in the subjects they teach. 

                    <br>
                    <br>
                    We specialize in <b>academic tutoring (math, writing, etc.,), college testing (SAT & ACT tutoring), and college admissions (counseling and essay editing). 
                    <br>
                    <br>
                    <br>
<h1 class="section-heading">What Makes Us Different?</h1>

                <b>
                    We include college admissions counseling (for free) with academic & SAT tutoring. 
                </b>
                
                <br><br>
                <b>
                    Our tutors specialize in multiple subjects if needed. 
                </b>
                
                <br><br>
                <b>
                    We provide the 1st session for free and can re-match your child to another tutor, if needed. 
                </b>
                
                <br><br>                
                <b>
                    Our tutors are excellent at reaching students who are struggling in class. 
                </b>
                
                <br><br>
                <b>
                    The results speak for themselves. 
                </b>


                </p>
            </div>



        </div>
    </div>
</section>
